<!--
     Copyright (C) 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.overlay.asphalt">
    <overlay android:targetPackage="android"
                   android:isStatic="true"
                   android:priority="700"/>
</manifest>
